
@{
    ViewBag.Title = "Fibonacci";

    for (int ctr = 1; ctr < 19; ctr++)
    {
        Response.Write("Sequence is " + ctr + " = " + ViewBag.Fib[ctr] + "<br />");
    }
}

<h2>Fibonacci Sequence</h2>

